@charset "utf-8";

/*##################################################################*/
#zonaCaptcha{ 
  height: 65px;
  width: 270px;
}
#zonaCaptcha #xcaptcha{
  background-color: #DFDFDF;
  border: 1px solid #C7C7C7;
  float: left;
  padding: 3px;
  width: 110px;
}
#zonaCaptcha #xcaptcha img{
  display: block;
  height:24px;
  margin: 0 auto;
  width:110px
}
#zonaCaptcha #xcaptcha a{
  background:url(../images/refresh.png) left no-repeat;
  color: #121212;
  display: block;
  font:10px Arial;
  height: 16px;
  line-height: 16px;
  margin: 4px auto 0 auto;
  text-indent: 24px;
  text-decoration: none;
  width: 105px;
}
#zonaCaptcha #xcaptcha a:hover{color: #FF8000;}
#zonaCaptcha .lbtx_captcha{ 
  float: left;
  margin: 5px 0 0 10px;
  width: 130px;
}
#zonaCaptcha .lbtx_captcha div{
  font:11px Arial, Helvetica, sans-serif;
}
#zonaCaptcha .lbtx_captcha input[id="txtcaptcha"]{ 
  font:bold 17px Arial, Helvetica, sans-serif !important; 
  letter-spacing:4px; 
  padding:4px !important;
  text-align:center; 
  width:110px !important;
}
/*##################################################################*/
.rd7{
	border.radius:7px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	behavior:url(border-radius.htc);
	behavior:url(../border-radius.htc);
  behavior:url(css_rsc/border-radius.htc);
}
.nexa{font-family: 'nexa_lightregular';}
@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa_light-webfont.ttf') format('truetype'),
         url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}