color_dark=#4B4B4D
color_dark_text=#554F43
color_destacado=#FFCC2B
color_tittle=#60271E
color_white=#fff
color_red=#60271E
color_button=#B23437
color_black=#221f20
color_orange=#f5811e

color_theme=#267c9d
color_brown=#64463b
color_light_brown=#7b6259
color_white_second=#e6e7e9 
color_white_third=#e2d9d0
/******************* RESET ***************************/
body
	font-family: 'Average Sans', sans-serif
	font-weight: 400
	color color_dark_text
	background-color color_black
.bck-mm
	background-image url("../images/bg.jpg")
	background-size cover 
a 
	text-decoration none
	outline 0
	color color_white
img 
	&.responsive
		max-width 100%

h1,h2,h3
	font-weight 300
	margin 0
h1
	font-size 22px
h2
	font-size 18px
h3,.h3
	font-size 16px
/***************** HELPERS ***********************************/
.bck-dark
	background-color color_dark
	color white
.bck-black
	background-color color_black
	color white

.bck-theme
	background-color color_theme
.bck-white
	background-color color_white
.bck-white-second
	background-color color_white_second
.bck-header
	background: #ffffff
	background: -moz-linear-gradient(top, #ffffff 0%, #d7d8da 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d7d8da))
	background: -webkit-linear-gradient(top, #ffffff 0%,#d7d8da 100%)
	background: -o-linear-gradient(top, #ffffff 0%,#d7d8da 100%)
	background: -ms-linear-gradient(top, #ffffff 0%,#d7d8da 100%)
	background: linear-gradient(to bottom, #ffffff 0%,#d7d8da 100%)
.bck-body
	background: #a1b0b3
	background: -moz-linear-gradient(top, #a1b0b3 0%, #c3cbcd 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1b0b3), color-stop(100%,#c3cbcd))
	background: -webkit-linear-gradient(top, #a1b0b3 0%,#c3cbcd 100%)
	background: -o-linear-gradient(top, #a1b0b3 0%,#c3cbcd 100%)
	background: -ms-linear-gradient(top, #a1b0b3 0%,#c3cbcd 100%)
	background: linear-gradient(to bottom, #a1b0b3 0%,#c3cbcd 100%)
.bck-footer
	background: #267c9d
	background: -moz-linear-gradient(top, #267c9d 0%, #196587 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#267c9d), color-stop(100%,#196587))
	background: -webkit-linear-gradient(top, #267c9d 0%,#196587 100%)
	background: -o-linear-gradient(top, #267c9d 0%,#196587 100%)
	background: -ms-linear-gradient(top, #267c9d 0%,#196587 100%)
	background: linear-gradient(to bottom, #267c9d 0%,#196587 100%)
.bck-nosotros
	background-image url("../images/bg-nosotros.jpg")
	background-color white 
	background-repeat no-repeat
	background-position right bottom
	height 450px
.bck-contactanos
	background-image url("../images/bg-contactanos.jpg")
	background-color white 
	background-repeat no-repeat
	background-position right bottom
	height 450px

.bck-muebleria
	background-image url("../images/bg-muebleria.jpg")
	height 276px
.bck-artesania
	background-image url("../images/bg-artesania.jpg")
	height 276px
.bck-restauracion
	background-image url("../images/bg-restauracion.jpg")
	height 276px
.bck-decoration
	background-image url("../images/bg-decoration.jpg")
	background-position bottom right
	background-repeat no-repeat
	background-color color_white_second
.bck-gray
	background-color rgba(0, 0, 0, .5)
.bck-brown
	background-color	color_brown
.bck-light-brown
	background-color	color_light_brown
.bck-white-third
	background-color color_white_third
.color-white
	color white

.color-orange
	color color_orange
.color-dark
	color color_dark

.color-theme
	color color_theme

.margin-top 
	margin-top 20px
.margin-bottom 
	margin-bottom 20px
.margin-bottom-2 
	margin-bottom 40px
.margin-bottom-3 
	margin-bottom 60px

.margin-top-2 
	margin-top 40px
.margin-top-3 
	margin-top 60px
.margin-top-4 
	margin-top 80px
.margin-top-5 
	margin-top 100px
.margin-top-10 
	margin-top 230px

.margin-top-big
	margin-top 600px
.margin-top-datos 
	margin-top 300px

.padding 
	padding 20px
.padding-2 
	padding 40px

.padding-top 
	padding-top 20px
.padding-right 
	padding-right 20px
.padding-right-2 
	padding-right 40px
.padding-right-3 
	padding-right 60px
.padding-left 
	padding-left 20px
.padding-left-2 
	padding-left 40px
.padding-left-3 
	padding-left 60px

.padding-bottom 
	padding-bottom 20px
.padding-bottom-2 
	padding-bottom 40px

.text-center
	text-align center
.text-right
	text-align right
.text-italic
	font-style italic
.text-justify
	text-align justify
.text-xs
	font-size 12px
.text-sm
	font-family: 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 45px
.text-md
	font-family: 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 50px
.text-lg
	font-family: 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 100px
.line-height-fix
	line-height 0.4
.line-height-fix-2
	line-height 0.2

.box-shadow
	box-shadow 0 0 10px 2px rgba(0, 0, 0, .3)
.fix-float
	clear both
/****************** MENUS **********************************/
.social 
	font-size 0
.label-social
	font-size 14px
	font-family "arial"
	text-align right
	display inline-block
	width 60%
	vertical-align top 
	position: relative
	top 7px
.nav-social
	display inline-block
	width 40%
	overflow hidden
	margin-bottom 5px
	margin-top 5px
	& a 
		float left 
		display block
		&:first-child
			margin-left 10px
			margin-right 10px
.nav-main
	&.margin-fix
		margin 0 20px
	&:before,&:after
		display table
		content ""
	&:after
		clear both
	& a 
		float left
		width: 19%
		position: relative
		margin-right 1%
		display block
		padding 45px 5px
		text-align center
		background-color rgba(0, 0, 0, .5)
		color color_white
		transition all .2s ease
		&:first-child
			margin-left .5%
		&:last-child
			margin-right .5%
		&.link-nosotros
			background-color color_brown
			padding 25px 0
		&:hover
			background-color rgba(0, 0, 0, .8)
			transform scale(1.04)
	&.nav-border-bottom
		border-bottom 3px solid color_theme
.nav-sub
	& >a
		display block
		border-top 2px dotted #000
		padding 5px 0 2px 10px
		color color_red
.padding-link-active
	padding-top 5px 
	padding-bottom 5px 
.border-white
	border 3px solid white
/***************************** CONTAINERS ******************/
footer 
	position: relative
	padding 5px 0
	& a 
		font-size 14px
		color color_white
.footer-text
	position: relative
	top -20px
.caption
	position: relative
	top -70px
	padding 10px 0
/****** Flexibilidad para crear catalogos **/
.catalogo
	& figure
		&:nth-child(1),&:nth-child(3n+1)
			padding-left 40px
		&:nth-child(3),&:nth-child(3n)
			padding-right 40px
		&:nth-child(3n-1)
			padding 0 20px
	& img 
		border 2px solid #bbbdbf

.pagination-slider
	position: relative
	top -35px
	z-index: 2
	margin-left 20px
	& span
		display block
		text-align center
		background-color color_orange
		color color_white
		padding 35px 0
.nav-slider
	position relative
	top 35px
	& a 
		float left
		width: 30px
		height:30px
		position: relative
		margin-right 1%
		display block
		padding 5px
		text-align center
		background-color color_orange
		color color_white
		transition all .2s ease
		&:first-child
			margin-left 5px
		&:last-child
			margin-right 5px
		&.active 
			background-color rgba(0, 0, 0, .5)
		&:hover
			background-color rgba(0, 0, 0, .3)
.slider-content
	position: relative
	& > img 
		position: absolute
		border 3px solid white
		left 0
.slider-caption
	& span
		display block
/************************** formS ******************************/
form 
	padding-right 40px 
	&.contacto
		overflow hidden
		color color_dark_text
		& label
			display block
			text-align left 
			width 100%
			border none
		& input, & textarea
			display block
			width 100%
			border 1px solid color_dark
			padding 4px
			font-family "arial"
		& button
			color color_white
			margin-top 10px
			border none
			background-color color_brown
			padding 10px 20px 
			text-align center
			border-radius 1px
			transition all .2s ease
			&:hover
				background-color darken(color_brown,30%)